name: Update Yarn

on:
  workflow_call:
    inputs:
      labels:
        description: 'Comma-separated list of labels to apply to the PR'
        required: false
        type: string
        default: 'dependencies,javascript'
    secrets:
      token:
        required: false

jobs:
  update-yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js (.nvmrc)
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: "yarn"

      - name: Get current Yarn version
        id: current-version
        run: echo "version=$(yarn --version)" >> "$GITHUB_OUTPUT"

      - name: Update Yarn
        run: yarn set version latest && yarn dedupe

      - name: Get new Yarn version
        id: new-version
        run: echo "version=$(yarn --version)" >> "$GITHUB_OUTPUT"

      - name: Create Pull Request
        if: steps.current-version.outputs.version != steps.new-version.outputs.version
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          committer: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          branch: 'github_actions/update-yarn'
          title: 'bump yarn from ${{ steps.current-version.outputs.version }} to ${{ steps.new-version.outputs.version }}'
          commit-message: 'bump yarn from ${{ steps.current-version.outputs.version }} to ${{ steps.new-version.outputs.version }}'
          body: |
            Bumps [yarn](https://github.com/yarnpkg/berry) from ${{ steps.current-version.outputs.version }} to ${{ steps.new-version.outputs.version }}.

            - Release Notes: https://github.com/yarnpkg/berry/releases
            - Full Changelog: [`${{ steps.current-version.outputs.version }}...${{ steps.new-version.outputs.version }}`](https://github.com/yarnpkg/berry/compare/@yarnpkg/cli/${{ steps.current-version.outputs.version }}...@yarnpkg/cli/${{ steps.new-version.outputs.version }})
          labels: ${{ inputs.labels }}
          delete-branch: true
          token: ${{ secrets.token || github.token }}
